<fieldset>
  <legend>Pivot Table Plugin settings</legend>
  <p>
  <label>Max issue count (default 1000)</label>
   <%= number_field_tag 'settings[pivottable_max]', @settings['pivottable_max'] %>
 </p>
</fieldset>

